@(form: Form[Usuario])
<html>
<body style=" background-color: #ADD8E6">

@main("Register Page") {
  <div class="col-sm-4 col-sm-offsetop">
    <h1> Turismo sem Fronteiras         </h1>
    
  </div>
  <div class ="col-sm-4 col-sm-offseteu" style ="padding: 0px 20px;">
   @if(flash.contains("fail")) {
   		<p class="bg-danger" style="">
        	@flash.get("fail")
		</p>
   }
  
   @helper.form(routes.Registro.registrar) {
	   <h2 class="text-center">Registrar</h2>
	
	  
	   <p>
	       <input type="text" name="nome" placeholder="Nome" value='@form("nome").value'
                class="form-control">
	   </p>
	   <p>
	       <input type="email" name="email" placeholder="Email" value='@form("email").value'
                   class="form-control">
	   </p>
	   <p>
	       <input type="password" name="pass" placeholder="Password" class="form-control">
	   </p>
	   <div>
	       
	       <a class="btn btn-primary"  href="/login"> Voltar</a>
	       <button class="btn btn-info" style="float:right;"  type="submit">Registrar</button>
	   </div>
	}
    </div>
    <div class="col-sm-4 col-sm-offsetudo">
     <img src="/assets/images/Sem.jpg"alt="Fuzzy Cardigan"
      class="img-thumbnail img-circle ">
    </div>
}
</body>
</html>